/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/11/2019, 23:51:03
    Author     : Nilson Alves
*/

body {
    background-color: orange;
    text-align: center;
    padding: 2%;
}

h1 {
    color: white;
    font-weight: bold;
}

.userName {
    font-family: cambria;
    font-size: 22px;
    background-color: red;
    padding: 2%;
    margin-right: 10%;
}

.userLogout {
    font-family: cambria;
    font-size: 18px;
    background-color: saddlebrown;
    border-style: none;
    border-radius: 5px;
}

